@model Heap.Web.ViewModels.Question.DetailsQuestionViewModel
@{
    ViewBag.Title = Model.Question.Description + " (" + Model.Question.Id.ToString() + ")";
}
<h2>
    @Model.Question.Description</h2>
<h3>
    Symptoms</h3>
<p>@Html.ActionLink("Edit", "Edit")</p>
