@model Heap.Web.ViewModels.Question.DetailsQuestionViewModel
@{
    ViewBag.Title = Model.Question.Description + " (" + Model.Question.Id.ToString() + ")";
}
<h2>
    @Model.Question.Description</h2>
<h3>
    Symptoms</h3>
<ul>
    @foreach (var symptom in Model.Question.Symptoms)
    {
        <li>@symptom.Name</li>
    }
    @using (Html.BeginForm("CreateSymptom", "Question"))
    {
        <li>@Html.TextBox("Name")
            <input type="submit" value="Add Symptom" />
        </li>        
    }
</ul>
<p>@Html.ActionLink("Edit", "Edit")</p>
