@model Heap.Web.ViewModels.Diagnosis.IndexDiagnosisViewModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Diagnoses</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<ul>
    @foreach (var diagnosis in Model.Diagnoses)
    {
        <li>@Html.ActionLink(diagnosis.Query ?? "NULL", "Details", new { id = diagnosis.Id })</li>
    }
</ul>
<h2>
    Other Places</h2>
<ul>
    <li>@Html.ActionLink("Question Administration", "Index", "Question")</li>
</ul>
