/* SCHEME:
 *  Light highlight:  #009acd
 *  Dark highlight:   #006080
 *  Light accent:     #cc7700
 *  Dark accent:      #803500
 *  Light background: #cccccc
 *  Dark background:  #333333
 */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: 12pt;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    color: #000000;
    background-color: #006080;
}

a:link, a:visited
{
    color: #803500;
}

a:hover, a:active
{
    color: #CC7700;
}

nav
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    padding: .5em 2em 0em;
    background-color: #fff;
    color: #000;
    border-bottom: solid 2px #333;
    font-weight: bold;
}

#main-content
{
    margin: 4em 2em 2em 2em;
    padding: 1em 2em;
    background-color: #fff;
    color: #000;
    border: solid 2px #333;
}

h1
{
    font-size: 150%;
    margin-bottom: 1em;
}

h1, h2, h3, h4
{
    color: #333;
}

#main-content .full-width-container
{
    width: 95%;
    margin: 1em 5%;
}

#main-content .left-half-width-container
{
}

#main-content .right-half-width-container
{
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.symptomeditor
{
    overflow: auto;
    height: 10em;
    border: solid 1px black;
}
.symptomeditor li
{
    padding: 0.3em;
}
.symptomeditor li.odd
{
}
.symptomeditor li.even
{
    background-color: #eee;
}
.symptomeditor li select
{
    float: right;
}
