*
{
    margin: 0;
    padding: 0;
}

p
{
    margin-bottom: 1em;
}

.flowchart-step
{
    border: solid 1px #000;
    margin: 1em;
}

.flowchart-step-body
{
    border: solid 1px #f00;
}

.flowchart-step-sidebar
{
    border: solid 1px #0f0;
    float: left;
    width: 120px;
    height: 120px;
    text-align: center;
}

.flowchart-step-instructions
{
    margin: 0 1em 0 130px;
    min-height: 120px;
}

.flowchart-step-footer
{
    border: solid 1px #00f;
}

.flowchart-step-footer ul
{
    list-style: none;
    padding: 0 0.5em;
}

.flowchart-step-footer ul li
{
    display: inline-block;
    border: solid 1px #f0f;
    padding: 0.2em;
}

#def
{
    display: none;
}

#ghi
{
    display: none;
}
